
/* Stylesheet for BirdWalker 2 */


/* ************************ The Big Structural Sections ******************************** */

body
{
	background-color: white;
}

#outer
{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 0px;
	border-left: solid 1px lightgray;
	border-right: solid 1px lightgray;
}

#topleft
{
	left: 0px; width: 120px; top: 8px; height: 100px;
	padding: 0px; margin: 0px;
	position: fixed;
    text-align: center;
	z-index: 1;
}
#topleft a       { text-decoration: none; }
#topleft a:hover { color: red; text-decoration: underline; }

#contentleft
{
	background-color: #EEEEEE;
    font: 9pt "Gill Sans", "Gill Sans MT", SansSerif;
    font-style: italic;
	left: 0px; top: 108px; width: 120px;
	position: fixed;	
	padding-bottom: 60px;
	padding-top: 10px;
	padding-left: 0px; padding-right: 0px;
	z-index: 1;
}
#contentleft a       { text-decoration:none; }
#contentleft a:hover { color: red; text-decoration: underline; }

#topright-trip
{
	top: 0px; height: 100px;
	position: relative;
	background-image: url(./images/trip-banner.jpg);
	background-position: 50%;
	z-index: 1;
}
#topright-location
{
	top: 0px; height: 100px;
	position: relative;
	background-image: url(./images/location-banner.jpg);
	background-position: 50%;
	z-index: 1;
}
#topright-species
{
	top: 0px; height: 100px;
	position: relative;
	background-image: url(./images/species-banner.jpg);
	background-position: 50%;
	z-index: 1;
}
#topright-home1
{
	top: 0px; height: 100px;
	position: relative;
	background-image: url(./images/banner1.jpg);
	background-position: 50%;
	z-index: 1;
}
#topright-home2
{
	top: 0px; height: 100px;
	position: relative;
	background-image: url(./images/banner2.jpg);
	background-position: 50%;
	z-index: 1;
}
#topright-home3
{
	top: 0px; height: 100px;
	position: relative;
	background-image: url(./images/banner3.jpg);
	background-position: 50%;
	z-index: 1;
}
#topright-home4
{
	top: 0px; height: 100px;
	position: relative;
	background-image: url(./images/banner4.jpg);
	background-position: 50%;
	z-index: 1;
}
#topright-photo
{
	top: 0px; height: 100px;
	position: relative;
	background: white;
	z-index: 1;
}

#contentright
{
    font: 10pt "Gill Sans", "Gill Sans MT", SansSerif;
	top: 0px; bottom: -1px;
	padding-bottom: 30px;
	background-color: white;
	position: relative;
}
#contentright a       { text-decoration: none;}
#contentright a:hover { color: red; text-decoration: underline; }

#footer
{
    border-top: solid 1px #AAAAAA;
    font: 10pt "Gill Sans", "Gill Sans MT", SansSerif;
	padding-bottom: 30px; margin-left: 9px; margin-right: 9px;
	margin-top: 60px;
	position: static;
}

/* Styles for section headers, page titles, and overall report content */

.pagetitle {text-align: center; font: 16pt "Gill Sans", "Gill Sans MT", SansSerif; font-weight: bold; padding-top: 2px }
.pagetitle a       { text-decoration: none;}
.pagetitle a:hover { color: red; text-decoration: underline; }

.pagesubtitle {text-align: center; font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; font-style: italic; padding-bottom: 7px; padding-left: 3px }
.pagesubtitle a       { text-decoration: none;}
.pagesubtitle a:hover { color: red; text-decoration: underline; }

.metadata {font: 9pt "Gill Sans", "Gill Sans MT", SansSerif; padding-left: 4px; }

.superheading {font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; font-style: italic; color: #444444; }
.heading { font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; font-weight: bold; margin-left: 2%; margin-top: 15px; margin-bottom: 5px; clear: both; color: #444444 }
.subheading { font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; font-weight: bold; margin-top: 10px; color: #444444 }

.summaryblock { border-top: solid 1px #AAAAAA; padding-top: 5px; margin-bottom: 5px }

.inlinepict { margin-left: 10px; margin-bottom: 10px; }

.report-content {font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; margin-left: 3px}

.firstcell { padding-left: 15px; white-space: nowrap; }
.fieldlabel { padding-left: 15px; font: 9pt Courier, Fixed; text-align: right; vertical-align: top}
.bordered {border-left: solid 1px #DDDDDD; border-bottom: solid 1px #DDDDDD; width: 30px; text-align: right; }
.yearcell {width: 20px; border-left: solid 1px lightgray; border-bottom: solid 1px lightgray; color: #777777}
.statename { text-transform: uppercase }
.copyright { font: 8pt "Gill Sans", "Gill Sans MT", SansSerif }

/* Styles for items within lists */

.sighting-notes {margin-left: 2%; margin-right: 2%; margin-bottom: 2px; margin-top: 2px}

/* textual browse buttons */

.nextlink { padding-right: 10px; text-align: right; font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; font-style: italic; white-space: nowrap; }
.nextlink a       { text-decoration: none; }
.nextlink a:hover { color: red; text-decoration: underline; }

.prevlink { padding-left: 10px; text-align: left; font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; font-style: italic; white-space: nowrap; }
.prevlink a       { text-decoration: none; }
.prevlink a:hover { color: red; text-decoration: underline; }

.pagekind { text-transform: lowercase; text-align: center; font: 10pt "Gill Sans", "Gill Sans MT", SansSerif; font-style: italic; white-space: nowrap; } 
.pagekind a       { text-decoration: none; }
.pagekind a:hover { color: red; text-decoration: underline; }

.command-disabled
{
  background-image: url(./images/command_dim.gif);
  background-repeat: no-repeat;
  padding-left: 16px; margin-left: 7px; margin-bottom: 14px;
}

.command-simple
{
  padding-left: 16px; margin-left: 7px; margin-bottom: 7px;
}

.command-spacer
{
  padding-left: 16px; margin-left: 7px; margin-right: 7px; margin-bottom: 1px; margin-top: 7px;
}

.command
{
  width: 90px;
  background-image: url(./images/command.gif);
  background-repeat: no-repeat;
  padding-left: 16px; margin-left: 7px; margin-bottom: 14px;
  white-space: nowrap;
}

.onecolumn { padding-left: 3%; padding-right: 3%; }
.leftcolumn { padding-left: 3%; padding-right: 4%; }
.rightcolumn { padding-right: 4%; padding-left: 3%; }